:root {
  --font-family: "Noto Sans", sans-serif;
  --purple-color: #7653FC;
  --gray-color:#B3C0D9;
  --black-color:#3B434E;
  --light-black-color:#787D85;
  --separator-color:#EBEBEB;
  --light-green-color:#C8F8E4;
  --orange-color:#FC836D;
  --green-color:#1DC47E;
  --red-color:#DE0000;
  --gray--border-color:#EBEBEB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}
