.tag a {
	text-decoration: none;
	color: #FFFF;
}

.tag {
	display: inline-block;
	padding: 5px 10px;	
	border-radius: 20px;
}

.s {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
}

.m {
font-size: 14px;
font-weight: 600;
line-height: 19px;
}

.green {
	background-color: var(--light-green-color);
	color: var(--green-color);
	font-weight: 700;
}

.gray {
	background-color: var(--gray-color);
	color: #FFFF;
}

.red {
	background-color: var(--red-color);
	color: #FFFF;
	font-weight: 600;
}

.primary {
	color: var(--purple-color);
	background: transparent;
	border: 1px solid var(--purple-color);
}

.transparent {
	color: var(--black-color);
	background: transparent;
	border: 1px solid var(--gray--border-color);
}
